{% extends "shop/base.html" %}

{% block title %}Zarejestruj się{% endblock %}

{% block content %}

<style>
        .login-page {
            width: 360px;
            padding: 8% 0 0;
            margin: auto;
        }
    
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }
    
        .form input {
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
    
        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #007bff;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }
    
        .form button:hover,
        .form button:active,
        .form button:focus {
            background: #007bff;
        }
    
        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }
    
        .form .message a {
            color: #007bff;
            text-decoration: none;
        }
    
        .form .register-form {
            display: none;
        }
    
        .container {
            position: relative;
            z-index: 1;
            margin: 0 auto;
        }
    
        .container:before,
        .container:after {
            content: "";
            display: block;
            clear: both;
        }
    
        .container .info {
            margin: 50px auto;
            text-align: center;
        }
    
        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }
    
        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }
    
        .container .info span a {
            color: #000000;
            text-decoration: none;
        }
    
        .container .info span .fa {
            color: #EF3B3A;
        }
    
        ul {
            list-style-type: none;
            
        }
    
        li {
            
            text-align: left;
        }
    

        #id_day, #id_month, #id_year {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    
    </style>
    
    <script>
        $('.message a').click(function () {
            $('form').animate({
                height: "toggle",
                opacity: "toggle"
            }, "slow");
        });
    </script>




    <div class="login-page">
            <div class="form">
                <form class="register-form">

                </form>
                <form action="" method="post" class="login-form">

						{{ user_form.non_field_errors }}
						<div class="fieldWrapper">
							<label for="{{ user_form.username.id_for_label }}">Uzytkownik</label>
							{{ user_form.username }}
							{{ user_form.username.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.first_name.id_for_label }}">Imię</label>
							{{ user_form.first_name }}
							{{ user_form.first_name.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.last_name.id_for_label }}">Nazwisko</label>
							{{ user_form.last_name }}
							{{ user_form.last_name.errors }}
						</div>
						<div class="fieldWrapper">
                            <label for="{{ user_form.day.id_for_label }}">Dzień</label>
                                {{ user_form.day }}
                                {{ user_form.day.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.month.id_for_label }}">Miesiąc</label>
							{{ user_form.month }}
							{{ user_form.month.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.year.id_for_label }}">Rok</label>
							{{ user_form.year }}
							{{ user_form.year.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.email.id_for_label }}">Email</label>
							{{ user_form.email }}
							{{ user_form.email.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.hasło.id_for_label }}">Hasło</label>
							{{ user_form.hasło }}
							{{ user_form.hasło.errors }}
						</div>
						<div class="fieldWrapper">
							<label for="{{ user_form.hasło2.id_for_label }}">Powtórz hasło</label>
							{{ user_form.hasło2 }}
							{{ user_form.hasło2.errors }}
						</div>


                        {% csrf_token %}
                        <p><input type="submit" value="Stwórz moje konto"></p>
                        <p class="message">Masz już konto. <a href="{% url 'account:login' %}">Zaloguj się</a></p>
                </form>
            </div>
        </div>

{% endblock %}