{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Twój profil
{% endblock %}

{% block content %}
<p class="text-center"><i>Zamówienia zostają automatycznie anulowane, jeśli nie zostaną opłacone w ciągu 24h</i></p>
<h3 class="display-4">Historia zamówień</h3>
<h4>Bieżące zamówienia:</h4>
{% for order in orders %}
{% if order.is_sent == False %}
<!--***********************************************-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default ">
		<div class="panel-heading" role="tab" id="heading{{ order.id|stringformat:"06d" }}">
			<h4 class="panel-title">
				<a role="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse"
					data-parent="#accordion" href="#collapse{{ order.id|stringformat:"06d" }}" aria-expanded="true"
					aria-controls="collapse{{ order.id|stringformat:"06d" }}">
					<!--******************************************-->
					{{ order.created_at }}

				</a>
			</h4>
		</div>
		<div id="collapse{{ order.id|stringformat:"06d" }}" class="panel-collapse collapse in" role="tabpanel"
			aria-labelledby="heading{{ order.id|stringformat:"06d" }}">
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th scope="row">Numer:</th>
							<th>
								<p>{{ order.id|stringformat:"06d" }}</p>
							</th>
						</tr>
						<tr>
							<th scope="row">Utworzono:</th>
							<th>{{ order.created_at }}</th>
						</tr>
						<tr>
							<th scope="row">Opłacone?:</th>
							{% if order.is_confirmed %}
							<th>Tak</th>
							{% else %}
							<th><span>Nie </span><a href="{% url 'cart:cart_checkout' order.id %}"
									class="btn btn-primary ml-3">Zapłać teraz</a></th>
							{% endif %}
						</tr>
						<tr>
							<th scope="row">Skompletowane?:</th>
							<th>{% if order.is_completed %}Tak{% else %}Nie{% endif %}</th>
						</tr>
						<tr>
							<th scope="row">Wysłane?:</th>
							<th>{% if order.is_sent %}Tak{% else %}Nie{% endif %}</th>
						</tr>
						<tr>
							<th scope="row">Typ wysyłki:</th>
							<th>{{ order.delivery_type }}</th>
						</tr>
						<tr>
							<th scope="row">Cena wysyłki:</th>
							<th>{{ order.delivery_price }}</th>
						</tr>
						<tr>
							<th scope="row">Całkowita cena:</th>
							<th>{{ order.total_price }}</th>
						</tr>
					</tbody>
				</table>

				<h3>Zamówienie:</h3>
				{% for component in components %}
				{% if component.order == order %}
				<table class="table table-striped table-dark">
					<tbody>
						<tr>
							<th scope="row">Zdjęcie:</th>
							<th><img class="img-fluid text-center" style="height: 100px; width: auto;"
									src="{% if component.product.image %}{{ component.product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %} ">
							</th>
						</tr>
						{% if order.is_refunded %}
						<tr>
							<th><font size="3" color="red">Dokonano zwrotu pełnej kwoty!</font></th>
						</tr>
						{% endif %}
						<tr>
							<th scope="row">Produkt:</th>
							<th>{{ component.product.name }}</th>
						</tr>
						<!-- jak coś to component.product.image powinno dać adres zdjęcia, wstawcie je gdzieś do tabelki -->
						<tr>
							<th scope="row">Ilość: </th>
							<th>{{ component.quantity }}</th>
						</tr>
						<tr>
							<th scope="row">Cena:</th>
							<th>{{ component.price }}</th>
						</tr>
						<tr>
							<th scope="row">Skompletowano?:</th>
							<th>{% if component.is_completed %}Tak{% else %}Nie{% endif %}</th>
						</tr>
					</tbody>
				</table>
				<br>
				{% endif %}
				{% endfor %}
				<br><br>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}


<h4>Zrealizowane zamówienia:</h4>
<br>
{% for order in orders %}
{% if order.is_sent %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<div class="panel panel-default ">
		<div class="panel-heading" role="tab" id="heading{{ order.id|stringformat:"06d" }}">
			<h4 class="panel-title">
				<a role="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse"
					data-parent="#accordion" href="#collapse{{ order.id|stringformat:"06d" }}" aria-expanded="true"
					aria-controls="collapse{{ order.id|stringformat:"06d" }}">
					<!--******************************************-->
					{{ order.created_at }}

				</a>
			</h4>
		</div>
		<div id="collapse{{ order.id|stringformat:"06d" }}" class="panel-collapse collapse in" role="tabpanel"
			aria-labelledby="heading{{ order.id|stringformat:"06d" }}">
			<div class="panel-body">
				<table class="table table-striped">
					<tbody>
						<tr>
							<th scope="row">Numer:</th>
							<th>
								<p>{{ order.id|stringformat:"06d" }}</p>
							</th>
						</tr>
						<tr>
							<th scope="row">Utworzono:</th>
							<th>{{ order.created_at }}</th>
						</tr>
						<tr>
							<th scope="row">Całkowita cena:</th>
							<th>{{ order.total_price }}</th>
						</tr>
						<tr>
							<th scope="row">Numer śledzenia paczki:</th>
							<th>{{ order.delivery_searching_code }}</th>
						</tr>
						<tr>
							<th scope="row">Typ wysyłki:</th>
							<th>{{ order.delivery_type }}</th>
						</tr>
						<tr>
							<th scope="row">Cena wysyłki:</th>
							<th>{{ order.delivery_price }}</th>
						</tr>

					</tbody>
				</table>

				<h3>Zamówienie:</h3>
				{% for component in components %}
				{% if component.order == order %}
				<table class="table table-striped table-dark">
					<tbody>
						<tr>
							<th scope="row">Zdjęcie:</th>
							<th><img class="img-fluid text-center mb-4"
									src="{% if component.product.image %}{{ component.product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %} ">
							</th>
						</tr>
						<tr>
							<th scope="row">Produkt:</th>
							<th>{{ component.product.name }}</th>
						</tr>
						<!-- jak coś to component.product.image powinno dać adres zdjęcia, wstawcie je gdzieś do tabelki -->
						<tr>
							<th scope="row">Cena:</th>
							<th>{{ component.product.price }}</th>
						</tr>
						<tr>
							<th scope="row">Skompletowano?:</th>
							<th>{% if component.is_completed %}Tak{% else %}Nie{% endif %}</th>
						</tr>
					</tbody>
				</table>
				<br>
				{% endif %}
				{% endfor %}
				<br><br>
			</div>
		</div>
	</div>
</div>
<br><br>



{% endif %}
{% endfor %}
{% endblock %}