{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	Twój profil
{% endblock %}

{% block content %}
	<table class="table table-borderless">
		<tbody>
			<tr>
				<th scope="row">Imię:</th>
				<th><p>{{ user.first_name }}</p></th>
			</tr>
			<tr>
				<th scope="row">Nazwisko:</th>
				<th>{{ user.last_name }}</th>
			</tr>
			<tr>
				<th scope="row">Email:</th>
				<th>{{ user.email }}</th>
			</tr>
			<tr>
				<th scope="row">Ostatnie logowanie:</th>
				<th>{{ user.last_login }}</th>
			</tr>
		</tbody>
	</table>
	
	<p class="border-top"><a href="{% url 'profile:show_orders' %}">
	<button type="button" class="btn btn-primary btn-lg mt-4">Pokaz historię zamówień</button></a>
{% endblock %}