{% extends "shop/base.html" %}
{% load static %}



{% block content %}
<!DOCTYPE html>

<html>

	<head>
		<title>Lista produktów do skompletowania - strona pracownika</title>
	</head>
	<body>	
		<br>
		<a href="{% url 'staff:manage_orders' %}">Powrót</a>
		<br><br>
		<br><b>Wyszukaj: </b></br>
		<form action="" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="Wyszukaj">
		</form>
		<br><br><b>Znalezione zamówienia:</b>
		{% for order in orders %}
		<table class="center" border="5" cellpadding="6">
				<tr>
					<th>Numer</th>
					<th>Czy opłacono?</th>
					<th>Czy skompletowano?</th>
					<th>Czy wysłano?</th>
					<th>Cena całkowita</th>
					<th>Więcej</th>
	
				</tr>
				<tr>
					<td>{{ order.id|stringformat:"06d" }}</td>
					<td>{% if order.is_confirmed %}Tak{% else %}Nie{% endif %}</td>
					<td>{% if order.is_completed %}Tak{% else %}Nie{% endif %}</td>
					<td>{% if order.is_sent %}Tak{% else %}Nie{% endif %}</td>
					<td>{{ order.total_price }}</td>
					<td><a class="btn btn-primary" href="{% url 'staff:show_order' order.id %}">Szczegóły</a></td>
				</tr>
			</table>
		{% endfor %}
	</body>
</html>
{% endblock %}