{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail row">
	<div id="foto" class="col-md-6 img-fluid">
		<img class="img-fluid text-center" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %} "  >
	</div>
	<div id="tekst" class="col-md-6 pt-5">

		<h1>{{ product.name }}</h1>
		<h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
		<p class="price">{{ product.price }} PLN</p>
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
			{{ cart_product_form }}
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="Dodaj do koszyka">
		</form>
		{{ product.description|linebreaks }}
	</div>
	<h2>Recenzje </h2><br>
	{% if user.is_authenticated %}
		{% if new_review %}
			<h2>Pomyślnie dodano recenzję</h2>
		{% else %}
			<h2>Dodaj nową recenzję </h2>
			<form action="" method="post">
				{{ review_form.as_p }}
				{% csrf_token %}
				<p><input type="submit" value="Dodaj recenzję"></p>
			</form>
		{% endif %}
	{% else %}
		Aby napisać własną recenzję musisz się zalogować.
	{% endif %}
	{% for review in reviews %}
		<div class="comment">
			<p class="info">
				Autor: {{ review.user.username }} <br>
				Ocena: {{ review.rating }} <br>
			</p>
			{{ review.body|linebreaks }}
		</div>
		{% empty %}
			<p>Nie ma jeszcze żadnych recenzji tego produktu. </p>
	{% endfor %}
</div>
{% endblock %}

