{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}

<style>
	  .img-fluid
	  {
		max-width: 100%;
		height: 250px;
	  }
	  
	  @media (max-width: 991px) {
		.img-fluid
		{
			max-width: 100%;
			height: 200px;		
		}
	  
		#foto
		{
			text-align: center!important;
		}

		
	  }
</style>

<div class="product-detail row">
	<div id="foto" class="col-md-6 text-right">
		<img class="img-fluid text-center"
			src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %} ">
	</div>
	<div id="tekst" class="col-md-6 pt-5">

		<h1>{{ product.name }}</h1>
		<!--<h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>-->
		<h2 class="price mt-3 mb-3">{{ product.price }} PLN</h2>
		<form action="{% url 'cart:cart_add' product.id %}" method="post">
			{{ cart_product_form }}
			{% csrf_token %}
		</br><input type="submit" class="btn btn-primary" value="Dodaj do koszyka">
		</form>
		
		{{ product.description|linebreaks }}
	</div>

	<div id="recenzje" class="col-md-6 border-top mt-4">
		{% if user.is_authenticated %}
		{% if new_review %}
		<h2>Pomyślnie dodano recenzję</h2>
		{% else %}
		<h2>Dodaj nową recenzję </h2>
		<form action="" method="post">
			{{ review_form.as_p }}
			{% csrf_token %}
			<input type="submit" class="btn btn-primary" value="Dodaj recenzję">
		</form>
		{% endif %}
		{% else %}
		<h4	class="text-center pt-4">Aby napisać własną recenzję musisz się zalogować.</h4>
		{% endif %}
		{% for review in reviews %}

		{% endfor %}
	</div>

	<div id="recenzje" class="col-md-6 border-top mt-4">
		<h2>Recenzje </h2>
		{% if user.is_authenticated %}
		{% endif %}
		{% for review in reviews %}
		<div class="comment border-bottom">

				<span>Autor: {{ review.user.username }}</span><br>
				<span>Ocena: {{ review.rating }}</span><br>
				<span>Komentarz: {{ review.body }}</span>

		</div>
		{% empty %}

		<p>Nie ma jeszcze żadnych recenzji tego produktu. </p>
		{% endfor %}

	</div>
</div>
{% endblock %}