{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	{% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock %}

{% block content %}
	
		<div class="row">
		
		<div id="sidebar col-md-2">
		<h3>Kategorie</h3>
		<ul>
			<li {% if not category %}class="selected"{% endif %}>
				<a href="{% url "shop:product_list" %}">Wszystkie</a>
			</li>
			{% for c in categories %}
				<li {% if category.slug == c.slug %}class="selected" {% endif %}>
					<a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
			
			
		<div class="product-list row col-md-10" >
			<!--<h1>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h1>-->
			{% for product in products %}
			
				<div class="item col-md-4 mb-2 mt-4">
					<div id="img" class="bg-light">
						<a href="{{ product.get_absolute_url }}">
							<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %} {% endif %}" class="img-fluid p-2">
						</a>
					</div>
					<div id="opis" class="bg-light">
						<a href="{{ product.get_absolute_url }}" class=" h3 pl-2 ">{{ product.name }}</a>
					</div>
					
					<div id="cena" class="pl-2 border-bottom text-right bg-light">
						<h4>{{ product.price }} PLN </h4>
					</div>
				</div>

			{% endfor %}
		</div>
		</div>
	
		
{% endblock %}

