{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock %}

{% block content %}

<style>

	.item {
		transition: .4s;
		border-style: solid;
		border-width: 2px;
		border-color: #dee2e6;
		border-radius: 0.3rem;
	}

	.item:hover {
		border-color: #007bff;
		border-width: 2px;
	}


	.img-fluid {
		max-width: 100%;
		height: 250px;
	}

	.text-overflow {
		display: -webkit-box;
		max-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		margin-bottom: auto;
		line-height: 25px;
	}
	
	#opis{
		font-size: 20px;
		font-weight: bold;
	}


	#sidebar{
		font-size: medium;
	}

	#sidebar a{
		color: black;
		transition: 10ms;
	}

	#sidebar a:hover{
		color: #007bff; 
		font-weight: bold;
	}



	@media (max-width: 991px) {
		.img-fluid {
			max-width: 100%;
			height: 200px;
		}

	}

	@media (max-width: 991px) {
		.img-fluid {
			max-width: 100%;
			height: 200px;
		}

	}
</style>


<div class="row">

	<div class="col-lg-2 d-none d-xl-block d-lg-block">
		<div id="sidebar" class="list-group border pl-3 pr-4 pt-2 pb-4 rounded-lg">

			<p class="text-uppercase text-overflow h5">Kategorie</p>

			<a href="{% url "shop:product_list" %}" class="text-left text-uppercas text-decoration-none text-overflow mt-2"
				{% if not category %} {% endif %}>
				WSZYSTKIE
			</a>
			{% for c in categories %}
			<a href="{{ c.get_absolute_url }}" class="text-left text-uppercase text-decoration-none mt-2 text-overflow"
				{% if category.slug == c.slug %} {% endif %}>
				{{ c.name }}
			</a>
			{% endfor %}

		</div>
	</div>

	
	<div class="product-list col-md-12 col-lg-10 text-center">
			<div class="row">
		<!--<h1>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h1>-->
		{% for product in products %}

		<a href="{{ product.get_absolute_url }}"><div class="col-md-6 col-lg-4">
			<div class="item mb-4">
				<div id="img" class="text-center">
					
						<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %} {% endif %}"
							class="img-fluid mt-4 mb-4">
					
				</div>
				<div id="opis" class="">
					<a href="{{ product.get_absolute_url }}" class="text-overflow text-uppercase text-decoration-none font-weight-ligh">{{ product.name }}</a>
				</div>

				<div id="cena" class="mt-2">
					{% if product.new_price != 0 %}
						<h4> {{ product.new_price }} PLN -{{ product.sales_percent }}%</h4>
					{% else %}
						<h4> {{ product.price }} PLN</h4>
					{% endif %}

					<string class="text-overflow m-0">
					<!-- {{ product.description|linebreaks }} -->
					{% if dictionary != None %}
						{% for item, descriptions in dictionary.items %}
							{% if item == product%}
								{% for description in descriptions %}
									<p class="m-0">{{ description.parameter }}: {{ description.description }}</p>
									
								{% endfor %}
							{% endif %}
						{% endfor %}
					{% endif %}
					</string>

				</div>
			</div>
		</div></a>

		{% endfor %}
	</div>
	</div>
</div>

<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
		{% if paginator.get_page > 1 %}
		  <li class="page-item">
			<a class="page-link" href="#" tabindex="-1">Previous </a>
		  </li>
		{% else %}
		<li class="page-item disabled">
				<a class="page-link" href="#" tabindex="-1">Previous</a>
		</li>
		{% endif %}

		  {% for page in paginator.page_range %}
		  	{% if get_page == page %}
				<li class="page-item active"><a class="page-link" href="{% url 'shop:product_list' page %}">{{ page }}</a></li>
			{% else %}
				<li class="page-item "><a class="page-link" href="{% url 'shop:product_list' page %}">{{ page }}</a></li>
			{% endif %}
		  
		  {% endfor %}
			  <li class="page-item">
			<a class="page-link" href="#">Next</a>
		  </li>
		</ul>
	  </nav>

<!--
{% if recent %}
<div id="recent" class="product-list row col-md-10 text-center">
<h3>Ostatnio oglądane produkty</h3>
	{% for item in recent %}
		<br><a href="{% url 'shop:product_detail' item.id item.slug %}">
			<img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height=200 width=250>
		<br>{{ item.name }}</a>
		<br>{{ item.price }}

		<br>
	{% endfor %}
</div>
{% endif %}
-->

{% endblock %}