{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock %}

{% block content %}

<style>

	.item {
		padding-top: 5px;
		transition: all .4s;
		-webkit-transition: all .4s;
	}

	.item:hover {
		transform: scale(1.05);
		-ms-transform: scale(1.05);
		-webkit-transform: scale(1.05);
		box-shadow: 0 0 0 #888;
		background-color: #fff;
	}

	.img-fluid {
		max-width: 100%;
		height: 250px;
	}

	.text-overflow {
		display: -webkit-box;
		max-height: 25px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		margin-bottom: auto;
		line-height: 25px;
		padding-bottom: 30px;
	}
	
	#opis{
		font-size: 20px;
		font-weight: bold;
	}



	@media (max-width: 991px) {
		.img-fluid {
			max-width: 100%;
			height: 200px;
		}





	}
</style>


<div class="row">

	<div id="sidebar" class=" col-md-2 list-group text-center">

		<h3>Kategorie</h3>

		<a href="{% url "shop:product_list" %}" class="list-group-item list-group-item-action"
			{% if not category %}class="selected" {% endif %}>
			Wszystkie
		</a>
		{% for c in categories %}
		<a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action"
			{% if category.slug == c.slug %}class="selected" {% endif %}>
			{{ c.name }}
		</a>
		{% endfor %}

	</div>



	<div class="product-list row col-md-10 text-center">
		<!--<h1>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h1>-->
		{% for product in products %}

		<div class="item col-md-4 mb-2 mt-4">
			<div id="img" class="bg-light text-center">
				<a href="{{ product.get_absolute_url }}">
					<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %} {% endif %}"
						class="img-fluid p-2">
				</a>
			</div>
			<div id="opis" class="bg-light">
				<a href="{{ product.get_absolute_url }}" class=" pl-2 text-overflow">{{ product.name }}</a>
			</div>

			<div id="cena" class="pl-2 border-bottom  bg-light">
				<h4>{{ product.price }} PLN </h4>

				<string class="text-overflow">{{ product.description|linebreaks }}</string>

			</div>
		</div>

		{% endfor %}
	</div>
</div>


<!-- Footer -->
{% if recent %}
<div id="recent" class="product-list row col-md-10 text-center">
<h3>Ostatnio oglądane produkty</h3>
	{% for item in recent %}
		<br><a href="{% url 'shop:product_detail' item.id item.slug %}">
			<img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height=200 width=250>
		<br>{{ item.name }}</a>
		<br>{{ item.price }}

		<br>
	{% endfor %}
</div>
{% endif %}

{% endblock %}