{% extends "shop/base.html" %}
{% load static %}



{% block title %}
	Wyniki wyszukiwania
{% endblock %}

	

{% block content %}
	<!-- {% for product in products %}
		{{ product.name }}

		<br>
	{% endfor %} -->

	<!-- <style>
		.item {
			transition: .4s;
			border-style: solid;
			border-width: 2px;
			border-color: #dee2e6;
			border-radius: 0.3rem;
		}
	
		.item:hover {
			border-color: #007bff;
			border-width: 2px;
		}
	
	
		.img-fluid {
			max-width: 100%;
			height: 250px;
		}
	
		.text-overflow {
			display: -webkit-box;
			max-height: 50px;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			margin-bottom: auto;
			line-height: 25px;
		}
	
		#opis {
			font-size: 20px;
			font-weight: bold;
		}
	
	
		#sidebar {
			font-size: medium;
		}
	
		#sidebar a {
			color: black;
			transition: 10ms;
		}
	
		#sidebar a:hover {
			color: #007bff;
			font-weight: bold;
		}
	
	
	
		@media (max-width: 991px) {
			.img-fluid {
				max-width: 100%;
				height: 200px;
			}
	
		}
	
		@media (max-width: 991px) {
			.img-fluid {
				max-width: 100%;
				height: 200px;
			}
	
		}
	</style> -->
	

	{% if not products %}
		<h1 class="display-4 p-4 text-center">Nie ma takiego produktu</h1>
		<p class="text-center"><i class="fas fa-times display-1 p-4 text-center" aria-hidden="true"></i></p>
	{% else %}
		<div class="product-list col-12 text-center">
			<div class="row ">
			<!--<h1>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h1>-->
				{% for product in products %}

				<a href="{{ product.get_absolute_url }}">
					<div class="col-md-6 col-lg-3">
						<div class="item mb-4">
							<div id="img" class="text-center">

								<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no-image.png" %} {% endif %}"
									class="img-fluid mt-4 mb-4">

							</div>
							<div id="opis" class="">
								<a href="{{ product.get_absolute_url }}"
									class="text-overflow text-uppercase text-decoration-none font-weight-ligh">{{ product.name }}</a>
							</div>

							<div id="cena" class="mt-2">
								{% if product.new_price != 0 %}
									<h4> {{ product.new_price }} PLN <span class="font-weight-bold text-danger">-{{ product.sales_percent }}%</span></h4>
								{% else %}
									<h4> {{ product.price }} PLN</h4>
								{% endif %}

								<!--<string class="text-overflow m-0">
									 {{ product.description|linebreaks }}
									{% if dictionary != None %}
									{% for item, descriptions in dictionary.items %}
									{% if item == product%}
									{% for description in descriptions %}
									<p class="m-0">{{ description.parameter }}: {{ description.description }}</p>

									{% endfor %}
									{% endif %}
									{% endfor %}
									{% endif %}
								</string>-->

							</div>
						</div>
					</div>
				</a>

				{% endfor %}
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if products.has_previous %}
				<li class="page-item">
					<a class="page-link" href="{% url 'shop:searching' products.previous_page_number phrase %}">Previous </a>
				</li>
				{% else %}
				<li class="page-item">
						<a class="page-link desativated">Poprzednia </a>
				</li>
		
				{% endif %}
		
				{% for page in paginator.page_range %}
					{% if page == products.number %}
						<li class="page-item active"><span class="page-link">{{ page }}</span><span class="sr-only">(current)</span>
						</li>
					{% else %}
						<li class="page-item "><a class="page-link" href="{% url 'shop:searching' page phrase %}">{{ page }}</a></li>
					{% endif %}
		
				{% endfor %}
		
				{% if products.has_next  %}
					<li class="page-item">
						<a class="page-link" href="{% url 'shop:searching' products.next_page_number phrase %}">Previous</a>
					</li>
				{% else %}
					<li class="page-item">
							<a class="page-link desativated">Następna</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
	{% endif %}
{% endblock %}