{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter archive" %}{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <table>
            <tr>
                <th>{% trans "Newsletter archive" %} {{ newsletter.title }}</th>
            </tr>
            {% for submission in latest %}
            <tr>
                <td><a href="{{ submission.get_absolute_url }}">{{ submission }}</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="../">{% trans "Back to list" %}</a></td>
            </tr>
        </table>
    </div>
</div>
{% endblock content %}