{% extends "shop/base.html" %}

{% load i18n %}

{% block title %}{% trans "Newsletter unsubscribe" %}{% endblock title %}

{% block content %}
<div class="row align-items-center text-center">
    <div style="text-center m-auto">
        <h1>{% trans "Newsletter unsubscribe" %} {{ newsletter.title }}</h1>

        <p>{% trans "Your unsubscription request has successfully been received. An email has been sent to you with a link you need to follow in order to confirm your unsubscription." %}</p>

    </div>
</div>
{% endblock content %}
