{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Twój koszyk
{% endblock %}

{% block content %}
	{% if cart.get_total_price > 0%}
		<h1>Twój koszyk</h1>
		<table class="cart" style="width:100%">
			<thead>
				<tr class="border-bottom">
					<th>Obraz</th>
					<th>Produkt</th>
					<th>Ilość</th>
					<th>Usuń</th>
					<th>Cena jednostkowa</th>
					<th class="num text-right">Cena</th>
				</tr>
			</thead>
			<tbody>
				{% for item in cart %}
					{% with product=item.product %}
						<tr>
							<td>
								<a href="{{ product.get_absolute_url }}">
									<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height="50" width="50">
								</a>
							</td>
							<td>{{ product.name }}</td>
							<td>{{ item.quantity }}</td>
							<td><a href="{% url 'cart:cart_remove' product.id %}">Usuń</a></td>
							<td class="num">{{ item.price }} PLN</td>
							<td class="num text-right">{{ item.total_price }} PLN</td>
						</tr>
					{% endwith %}
				{% endfor %}
				<tr>
					<td colspan="5"></td>               	
					<td class="num border-top text-right">Wartość zakupów: {{ cart.get_total_price }} PLN</td>
				</tr>
			</tbody>
		</table>
			<p class="text-right mt-4 mb-4">
				{% if user.is_authenticated %}
					<a href="{% url 'shop:product_list' %}" class="button light btn btn-primary btn-lg">Kontynuuj zakupy</a>
				{% else %}
					<a href="{% url 'account:login' %}" class="button light btn btn-primary btn-lg">Logowanie</a>
					</br><span class="h5">Aby dokonać kupna musisz być zalogowany!</span>
				{% endif %}
				
			</p>
		
		<form action="" method="post" class="border-top">
			{% if user.is_authenticated %}
				{% if cart.get_total_price > 0 %}
					<center><i>Dla zamówień powyzej {{ free_delivery_price }}PLN dostawa jest darmowa<br></i></center>
					{% if cart.get_total_price >= free_delivery_price %}
						<center><i>Przysługuje Ci darmowa dostawa. Koszt dostawy nie zostanie doliczony do zamówienia.</i></center>
					{% endif %}
					<h3><i class="fas fa-truck mt-4 mb-2"></i> Sposób dostawy</h3>
					{% csrf_token %}
					{% for radio in delivery_form.delivery_type %}
						<label for="{{ radio.name }}">
							<span class=" blockquote ml-4">{{ radio }}</span>
							{{ radio.name }}<br>
						</label>
						<br>
					{% endfor %}
				{% endif %}
			{% endif %}
			
			<p class="text-right">
				{% if cart.get_total_price > 0 and user.is_authenticated %}
					<button type="submit" class="button btn btn-primary btn-lg">Kupuję i płacę</button>
				{% endif %}
			</p>
		</form>
		

	{% else %}
		<h1 class="display-4 p-4 text-center"> Twój koszyk jest obecnie pusty. </h1>
		<p class="text-center"><i class="fas fa-times display-1 p-4 text-center"></i></p>

		<!-- Insert recommended products here -->
	{% endif %}

{% endblock %}

