{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Twój koszyk
{% endblock %}

{% block content %}
    <h1>Twój koszyk</h1>
        <table class="cart" style="width:100%">
        <thead>
            <tr class="border-bottom">
                <th>Obraz</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Usuń</th>
                <th>Cena jednostkowa</th>
                <th class="num text-right">Cena</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height="50" width="50">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="{% url 'cart:cart_remove' product.id %}">Usuń</a></td>
                        <td class="num">{{ item.price }} PLN</td>
                        <td class="num text-right">{{ item.total_price }} PLN</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td colspan="5"></td>               	
                <td class="num border-top text-right">Wartość zakupów: {{ cart.get_total_price }} PLN</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button
        light btn btn-primary">Kontynuuj zakupy</a>
		{% if cart.get_total_price > 0 %}
        	<a href="{% url 'cart:payment_choice' %}" class="button btn btn-primary">Kupuję i płacę</a>
		{% else %}
			<button type="button" class="button btn btn-primary" disabled>Kupuję i płacę</button>
		{% endif %}
    </p>

{% endblock %}

