{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    Twój koszyk
{% endblock %}

{% block content %}
    <h1>Twój koszyk</h1>
        <table class="cart">
        <thead>
            <tr>
                <th>Obraz</th>
                <th>Produkt</th>
                <th>Ilość</th>
                <th>Usuń</th>
                <th>Cena jednostkowa</th>
                <th>Cena</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                            </a>
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="{% url 'cart:cart_remove' product.id %}">Usuń</a></td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">${{ item.total_price }}</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Całość</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url 'shop:product_list' %}" class="button
        light">Kontynuuj zakupy</a>
        <a href="#" class="button">Zapłać</a>
    </p>
{% endblock %}
