{% extends "shop/base.html" %}
{% load static %}

{% block content %}
	{% if cart.get_total_price > 0 %}
		{% for item in cart %}
			{% with product=item.product %}
				<tr>
					<td>
						<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height="50" width="50">
					</td>
					<td>{{ product.name }}</td>
					<td>{{ item.quantity }}</td>
					<td class="num text-right">{{ item.total_price }} PLN</td>
				</tr>
			{% endwith %}
		{% endfor %}
		<h3>Cena produktów: {{ order.price }} PLN<h3>
		<h3>Dostawa: {{ order.delivery_price }} PLN<h3>
		<h3>Do zapłaty: {{ order.total_price }} PLN<h3>


		<!-- PAYPAL -->
		<form method="post" action="">
			{% csrf_token %}
			<button type="submit">Kup teraz</button>
		</form>

	{% else %}
		<h3>Nie wybrano produktów do zakupu!</h3>
	{% endif %}
{% endblock %}