{% extends "shop/base.html" %}
{% load static %}

{% block content %}

	{% for item in cart %}
		{% with product=item.product %}
			<tr>
				<td>
					<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height="50" width="50">
				</td>
				<td>{{ product.name }}</td>
				<td>{{ item.quantity }}</td>
				<td class="num text-right">{{ item.total_price }} PLN</td>
			</tr>
		{% endwith %}
	{% endfor %}
	<h3>Cena produktów: {{ cart.get_total_price }} <h3>
	<h3>Dostawa: 8,99<h3>
	<h3>Do zapłaty: <h3>


	<!-- PAYPAL INTEGRATION -->

	<script
		src="https://www.paypal.com/sdk/js?client-id=AfNoHbwXRtAOBeEcOzPvXLQDsW9ZwQY_2kYRlnmmaHlm1q770zLrxUPZHlmbPwIZXzvM4zmEo63Q7dGs&currency=PLN">
	</script>

	<div id="paypal-button-container"></div>

	<script>
		paypal.Buttons({
			createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: '{{ cart.get_total_price_as_string }}'
					}
				}]
			});
			},
			onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				alert('Transaction completed by ' + details.payer.name.given_name);
				// Call your server to save the transaction
				return fetch('/paypal-transaction-complete', {
				method: 'post',
					headers: {
						'content-type': 'application/json'
					},
					body: JSON.stringify({
						orderID: data.orderID
					})
				});
			});
			}
		}).render('#paypal-button-container');
	</script>
{% endblock %}