{% extends "shop/base.html" %}
{% load static %}

{% block content %}
	{% if cart.get_total_price > 0 %}
		{% for item in cart %}
			{% with product=item.product %}
				<tr>
					<td>
						<img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no-image.png' %}{% endif %}" height="50" width="50">
					</td>
					<td>{{ product.name }}</td>
					<td>{{ item.quantity }}</td>
					<td class="num text-right">{{ item.total_price }} PLN</td>
				</tr>
			{% endwith %}
		{% endfor %}
		<h3>Cena produktów: {{ delivery.get_price }} PLN<h3>
		<h3>Dostawa: {{ delivery.get_delivery_price }} PLN<h3>
		<h3>Do zapłaty: {{ delivery.get_total_price }} PLN<h3>


		<!-- PAYPAL INTEGRATION -->
		<form action="{% url 'cart:buy_now' %}">
			<input class="btn btn-primary-custom" id="submit" type="submit" value="Kup teraz">
		</form>

	{% else %}
		<h3>Nie wybrano produktów do zakupu!</h3>
	{% endif %}
{% endblock %}